<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızda</h3>
				<p>Sanal kamera yazılımları (OBS, Snap Camera vb.), Talent Interview sınavı esnasında kameranızdan görüntü alınmasını engelleyebilmekte veya alınan görüntüyü modifiye edebilmektedir. Ondokuz Mayıs Üniversitesi Bilgisayar Mühendisliği Yazılımcı Yetiştirme Platformu...</p>
				<div class="read">
					<a href="/About/Index/" class="btn btn-primary read-m">Devamını Oku</a>
				</div>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

				@await Component.InvokeAsync("BlogLast3Post")
				
			</div>
			<!-- subscribe -->
			<div class="tech-btm">
				<h4 class="text-light"> Haber bültenimize kaydolun </h4>

				<h6 class="text-success"> <b> Yazılım, Teknoloji, Sanat ve diğer bloglar... </b>   </h6>
				<form action="/NewsLetter/SubscribeMail/" method="post">
					<input type="email" placeholder="Email" required="" name="Mail">
					<input type="submit" value="Abone Ol">
				</form>

			</div>
			
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li>
							<a class="btn-github" href="https://github.com/ARPAT23">
								<i class="fab fa-github"></i>
								<span>Github</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="instagram" href="https://www.linkedin.com/in/serdar-d-2610a1208/">
								<i class="fab fa-linkedin"></i>
								<span>linkedin</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="instagram" href="https://www.youtube.com/channel/UCZXmqpZJ3ax5Uzm0pXeVqMg/featured">
								<i class="fab fa-youtube"></i>
								<span>youtube</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<h6 class="text-white-50">
					© @DateTime.Now.Year Weblog. Asp.Net Core 5.0 Proje Kampı  Tüm Hakları Saklıdır | Design by
					<a href="http://w3layouts.com/">W3layouts</a>
				</h6>

			</div>
		</div>

		<!-- //footer -->


	</div>
</footer>